@import '../common/mixins.scss';

.paggination-container {
    @include CENTER_HV;
    gap:10px;
    height: 18px;
    margin:15px 0;
    font-size: 12px;
    .paggination-btn:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .paggination-btn, .disabled {
        background-color: white;
        border:1px solid lightgray;
        border-radius:5px;
        cursor:pointer;
        height: 100%;
        padding:10px 15px;
        @include CENTER_HV;
        svg{
            width:13px;
            height:13px;
            max-height: 18px;
        }
    }
    .paggination-current-page {
        cursor: default;
        border-radius:50%;
        
    }
    .disabled {
        cursor:default;
        background-color:white;
        opacity: 0.5;
    }
}

