@mixin CENTER_H {
    display: flex;
    justify-content: center;
}
@mixin CENTER_V {
    display: flex;
    align-items: center;
}
@mixin CENTER_HV {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin NO_SELECT {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}